<ion-view title="Personal Information">
  <ion-content has-header="true" padding="true">
    <label class="item item-input item-stacked-label">
  		<span class="input-label">First Name</span>
  		<input type="text" placeholder="eg. Michelle">
  	</label>
  	<label class="item item-input item-stacked-label">
  		<span class="input-label">Last Name</span>
  		<input type="text" placeholder="eg. Evans">
  	</label>
  	<label class="item item-input item-stacked-label">
  		<span class="input-label">Phone number</span>
  		<input type="text" placeholder="eg. 416-888-8888">
  	</label>
  	<label class="item item-input item-select">
  		<div class="input-label"> Condition </div>
  		<select class="item-left">
  			<option>1</option>
  			<option>2</option>
  			<option>3</option>
  			<option>4</option>
  			<option>5</option>
  			<option>6</option>
  			<option>7</option>
  			<option>8</option>
  			<option>9</option>
  			<option>10</option>
  		</select> /10
  	</label>
  	<label class="item item-input item-stacked-label">
  		<span class="input-label">Comments</span>
  		<input type="text">
  	</label>
  	<button class="button button-calm">Submit</button>
  </ion-content>
</ion-view>