<ion-view title="Posting Information">
    <ion-content has-header="true" padding="true">
        <!--<ul class="list">
            <li class="item">Textbook Name*</li>
            <li class="item"> Author*</li>
            <li class="item"> ISBN # </li>
            <li class="item">Course Code </li>
            <li class="item">Time</li>
        </ul>-->
        <br>
        <p><b>Textbook Information</b></p>
        <div class="list list-indert">
            <label class="item item-input">
                <input ng-model="bookTitle" type="text" placeholder="Textbook Name*">
            </label>
            <label class="item item-input">
                <input type="text" ng-model="authorName" placeholder="Author*">
            </label>
            <label class="item item-input">
                <input type="text" ng-model="isbn" placeholder="ISBN Number">
            </label>
            <label class="item item-input">
                <input type="text" ng-model="courseCode" placeholder="Course Code">
            </label>

            <label class="item item-input">
                <div class="input-label"> Condition </div>
                <select class="item item-right" ng-model="bookCondition">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                </select>
            </label>
        </div>

        <br>
        <p><b>Your Contact Information</b></p>

        <label class="item item-input">
            <input type="text" value="{{user.fName}}" placeholder="First Name*">
        </label>
        <label class="item item-input">
            <input type="text" value="{{user.lName}}" placeholder="Last Name">
        </label>
        <label class="item item-input">
            <input type="text" ng-model="phoneNumber" placeholder="Phone number*">
        </label>
        <label class="item item-input">
            <input type="text" id="autoComplete"  placeholder="Location*">
        </label>

        <br>

        <label class="item item-input">
            <span class="input-label">Comments</span>
            <input type="text" ng-model="comments">
        </label>

        <br/>

        <label>
            <button class="button button-full button-calm" ng-click="submitPost()"><b>Submit</b></button></label>
    </ion-content>
</ion-view>