<ion-view title="Textbook Details">
  <ion-content has-header="true" padding="true">
  <!--<ul class="list">
  	<li class="item">Textbook Name*</li>
  	<li class="item"> Author*</li>
  	<li class="item"> ISBN # </li>
  	<li class="item">Course Code </li>
  	<li class="item">Time</li>
  </ul>-->
  <div class="list">
  	<label class="item item-input item-stacked-label ">
  		<span class="input-label">Textbook Name*</span>
  		<input type="text" placeholder="eg. Physics for Life">
  	</label>
  	<label class="item item-input item-stacked-label">
  		<span class="input-label">Author*</span>
  		<input type="text" placeholder="eg. John Miller">
  	</label>
  	<label class="item item-input item-stacked-label">
  		<span class="input-label">ISBN #</span>
  		<input type="text" placeholder="eg. 978-1-56592-197-9">
  	</label>
  	<label class="item item-input item-stacked-label">
  		<span class="input-label">Course Code</span>
  		<input type="text" placeholder="eg. ECE 105">
  	</label>
  	<label class="item item-input item-stacked-label">
  		<span class="input-label">Location</span>
  		<input type="text" placeholder="eg. Davis Centre">
  	</label>
  	<a href='#/tab/form2'><button class="button button-calm">Continue</button></a>
  </ion-content>
</ion-view>