<ion-view title="Listings">

    <ion-content has-header="true" padding="true">
        <div class="button-bar">
            <a class="button">Map</a>
            <a class="button button-dark" >List</a>
        </div>

        <div class="card book-post">
            <a class="item item-avatar textbook-box" ng-repeat="list in lists" href="#/tab/listView/{{list.id}}">
                <div class="item text-wrap">

                    <h3 class="bookTitle"><b>{{list.attributes.title}}</b></h3>

                    <h4>{{list.attributes.firstName}} {{list.attributes.lastName}}</h4>
                    <h4>{{list.attributes.address}}</h4>
                    <h4>
                        {{list.attributes.price}}</h4>


                </div></a>
        </div>
    </ion-content>
</ion-view>
