<ion-view title="Start">
  <ion-content class="has-header padding">
    <p>Choose a university or college</p>
    <div class="list list-inset">
    <label class="item item-input">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="text" placeholder="University Name">
  </label>
</div>
    <p>Choose a Category</p>
    <ul>
    	<li><button class="button button-full button-calm">Books or Textbooks</button></li>
    	<li><button class="button button-full button-calm">Student Housing</button></li>
    	<li><button class="button button-full button-calm">Study Groups</button></li>
    </ul>
    <a href="#/tab/task"><button class="button button-outline button-calm">OK</button></a>
  </ion-content>
</ion-view>