<ion-view hide-nav-bar="true" title="UnieedIt">
    <ion-content class="padding">
        <div>
            <img align="center" class="full-image" src="templates/Pictures/unieedit.png" alt="">
        </div>
        <button class="button button-block button-white" ng-click="signIn()">
            <div class="teal-color"><b>Facebook Login</b></div>
        </button>
        <a href="#/tab/selection">
            <button class="button button-block button-white">
                <div class="teal-color"><b>Guest Login</b></div>
            </button></a>

    </ion-content>
</ion-view>

