<ion-view title="Find or Post">
    <ion-content class="has-header padding">

        <section id="postOrFind">
            <ul >
                <li>
                    <!--TODO -  change dash to correct view later-->
                    <a href="#/tab/dash"><button class="button button-block  white-color"><b class="teal-color">Find</b></button></a>
                </li>
                <li>
                    <a href="#/tab/form"><button class="button button-block  white-color"><b class="teal-color">Post</b></button></a>
                </li>
            </ul>
            <section>
    </ion-content>
</ion-view>